.app{
    display:grid;
    place-items: center;
        height:100vh;
        background-color:#dadbd3
}
.app_body{
    background-color: #ededed;
    display: flex;
    height:95vh;
    width:95vw;
    /* margin-top: -30px; */
    box-shadow:-1px 1px 20px -6px rgba(0,0,0,0.75);
}